<form method="post" action="/Team/Save">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Team Name</label>
        <input type="text" class="form-control" name="TeamName" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Score</label>
        <input type="text" class="form-control" name="Score" placeholder="score">
    </div>
    <a class="btn btn-dark" href="/Team">Cancel</a>
    <button type="submit" class="btn btn-success">Create Team</button>
</form>