.dp-wrap {
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
    height: 100%;
  }
  
  .dp-slider {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
  }
  
  .dp-slider div { transform-style: preserve-3d; }
  
  .dp_item {
    display: block;
    position: absolute;
    text-align: center;
    color: #FFF;
    border-radius: 10px;
    transition: transform 1.2s;
  }
  
  .dp-img img { border-left: 1px solid #fff; }
  
  #dp-slider .dp_item:first-child {
    z-index: 10 !important;
    transform: rotateY(0deg) translateX(0px) !important;
  }
  
  .dp_item[data-position="2"] {
    z-index: 9;
    transform: rotateY(0deg) translateX(10%) scale(0.9);
  }
  
  .dp_item[data-position="3"] {
    z-index: 8;
    transform: rotateY(0deg) translateX(20%) scale(0.8);
  }
  
  .dp_item[data-position="4"] {
    z-index: 7;
    transform: rotateY(0deg) translateX(30%) scale(0.7);
  }
  
  #dp-next,  #dp-prev {
    position: absolute;
    top: 50%;
    right: 16%;
    height: 33px;
    width: 33px;
    z-index: 10;
    cursor: pointer;
  }
  
  #dp-prev {
    left: 15px;
    transform: rotate(180deg);
  }
  
  #dp-dots {
    position: absolute;
    bottom: 25px;
    z-index: 12;
    left: 38%;
    cursor: default;
  }
  
  #dp-dots li {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
  }
  
  #dp-dots li:hover {
    cursor: pointer;
    background: #FA8C8C;
    transition: background .3s;
  }
  
  #dp-dots li.active { background: #FA8C8C; }
  
  .dp_item { width: 85%; }
  
  .dp-content,  .dp-img { text-align: left; }
  
  .dp_item {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    border-top: 5px solid #FA8C8C;
  }
  
  .dp-content {
    padding-left: 100px;
    padding-right: 0;
    display: inline-block;
    width: 100%;
  }
  
  .dp-content h2 {
    color: #41414B;
    font-family: Circular Std Bold;
    font-size: 48px;
    max-width: 460px;
    margin-top: 8px;
    margin-bottom: 0px;
  }
  
  .dp-content p {
    color: #74747F;
    max-width: 490px;
    margin-top: 15px;
    font-size: 24px;
  }
  
  .dp-content .site-btn {
    margin-top: 15px;
    font-size: 13px;
    padding: 19px 40px;
  }
  
  .dp-img:before {
    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
    background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    content: "";
    position: absolute;
    height: 100%;
    width: 25%;
    z-index: 1;
    top: 0;
    pointer-events: none;
    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
    background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
    background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  }
  
  .dp-img img {
    object-fit: cover;
    object-position: right;
  }
  
  #dp-slider,  .dp-img img { height: 738px; }
  
  #dp-slider .dp_item:hover:not(:first-child) { cursor: pointer; }
  
  .site-btn {
    color: #fff;
    font-size: 18px;
    font-family: "Circular Std Medium";
    background: #FA8282;
    padding: 14px 43px;
    display: inline-block;
    border-radius: 2px;
    position: relative;
    top: -12px;
    text-decoration: none;
  }
  
  .site-btn:hover {
    text-decoration: none;
    color: #fff;
  }